* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mix {
    background-color: coral;
    width: 170px;
    
}

body {
    background-color: rgb(255, 180, 153);
    width: 100%;
    padding: auto;
}



main {
    margin-top: 30px;
}

h1 {
    font-size: 40px;
    font-family: monospace;
    margin-top: 50px;
    margin-left: 20px;
}

.gl {
    font-size: 40px;
    text-decoration: none;
    font-family: monospace;
    margin-top: 50px;
}
